
@import url("https://fonts.googleapis.com/css2?family=Nunito&family=Poppins&display=swap");

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}
body{
    font-family: poppins;
}
img{
    height: 100vh;
    background-size: cover;
    width: 100%;
    background-repeat: no-repeat;
}
.navbar{
    position:absolute;
    padding: 40px;
    display: flex;
    width: 100%;
    justify-content: space-between;
    box-sizing: border-box;
    align-items: center;
}
.navbar a{
    color: white;
}
.navbar .logo{
    font-size: 2.1em;
    font-weight: bold;
}
.navbar .navlink ul{
    display: flex;

}
.navbar .navlink ul li .active{
    color: #fff;
    font-size:large;
}
.navbar .navlink ul li{
    padding: 0 25px;
    font-size:large;
}
.content {
    top: 52%;
    left: 50%;
    text-align: center;
    width: 100%;
    position: absolute;
    transform: translate(-70%, -80%);
    padding: 0 20px;
}
span{
    color: #fff;
    font-size: 3em;
}
.btns button{
    border: 1px solid white;
    color: black;
    background-color: #d6d6d6;
    border-radius: 25px;
    padding: 15px;
    margin: 5px;
    font-size: 1.5em;
}
h4{
    font-size: 2em;
    color: #fff;
}
.btns .btn:active{
    background-color: #06aed5;
    color:white;
}
btns .btn1{
    color: white;
    background-color: grey;
}
.section2{
    background-color: #06aed5;
    font-family: poppins;
}
.section2 .pic1{
width: 100%;
border-radius: 12px;
height: 214px;
object-fit: cover;
}
#container{
    max-width: 300px;
    margin: 0 auto;
    height: 200px;
    margin-top: 15vh;
    position: static;
}
.card{
    background-color:white;
    border: 1px solid grey;
    padding: 8px;
    border-radius: 12px;
    left: 20%;
}
.tag{
    padding: 4px 8px;
    border: 1px solid grey;
    border-radius: 50px;
    font-size: 12px;
    font-weight: 600;
    color: black;
}
.name{
    font-size: 24px;
    font-weight: 600;
    margin-top: 16px;
}
p{
    font-size: 14px;
    color: black;
    line-height: 150%;
}
.ex{
    border: 1px solid black;
    padding: 10px;
    border-radius: 50px;
    font-weight: 600;
    color: black;
    background-color:white;
    display: block;
    margin: auto;
    cursor: pointer;
}
.section2{
    padding: 0;
    margin: 0%;
    height: 100vh;
    width: 100%;
    display: flex;
}
